body {
	max-width:650px!important;
}

.video-image {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1.03);
    height: 100%;
    width: 30%;
}

.todo-details-container {
	display:inline-block;
	width: 60%;
}

.todo-list li label {
	margin: 0!important;
	padding: 0 20px!important;
	display:inline-block!important;
	width: 55%;
}

.todo-list li a {
	float:right;
	color: #4d4d4d;
	text-decoration: none;
	padding: 10px; 	

	&:hover {
   	 box-shadow: 0 1px 4px rgba(0, 0, 0, 1.03);

	};

}